@charset "UTF-8";
body {
  background: #f8f8f8; }

#m5 header {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  background: #fff;
  height: 1.43519rem;
  display: flex; }
  #m5 header b {
    position: absolute;
    width: 0.55556rem;
    height: 0.05556rem;
    left: 5.64815rem;
    bottom: 0.31481rem;
    background: #000000; }
  #m5 header a {
    font: 0.40741rem "微软雅黑";
    color: #000000;
    line-height: 1.43519rem; }
    #m5 header a:nth-child(1) {
      margin-left: 3.56481rem;
      margin-right: 1.15741rem; }
    #m5 header a:nth-child(3) {
      width: 0.31481rem;
      background: url(../img/29.png) no-repeat center;
      background-size: 0.31481rem auto;
      margin-left: 2.87037rem; }
#m5 #zhuanTi {
  background: #FFFFFF;
  padding-top: 1.43519rem;
  margin-bottom: 0.21296rem; }
  #m5 #zhuanTi h3 {
    height: 0.53704rem;
    margin-left: 0.26852rem;
    border-left: 0.05556rem solid #2ecbf8;
    text-indent: 0.2963rem;
    font: 600 0.2963rem "微软雅黑";
    line-height: 0.53704rem;
    margin-bottom: 0.16667rem;
    position: relative; }
    #m5 #zhuanTi h3 a {
      position: absolute;
      font: 0.2963rem "微软雅黑";
      padding-right: 0.37037rem;
      top: 0.06481rem;
      right: 0.37037rem;
      background: url(../img/12.png) no-repeat right center;
      background-size: 0.12037rem auto; }
  #m5 #zhuanTi .box {
    overflow: hidden;
    position: relative;
    height: 4.72222rem;
    padding-bottom: 0.22222rem;
    background: #f8f8f8; }
    #m5 #zhuanTi .box ul {
      position: absolute;
      top: 0;
      left: 0.55556rem;
      height: 4.72222rem;
      display: flex;
      width: 16.66667rem;
      justify-content: space-between;
      padding: 0.27778rem 0; }
      #m5 #zhuanTi .box ul li {
        width: 3.87037rem;
        background: #fff; }
        #m5 #zhuanTi .box ul li a img {
          display: block;
          width: 100%; }
        #m5 #zhuanTi .box ul li a h5 {
          font: 0.37037rem "微软雅黑";
          color: #000000;
          line-height: 0.92593rem;
          text-align: center; }
        #m5 #zhuanTi .box ul li a p {
          text-align: center; }
          #m5 #zhuanTi .box ul li a p b {
            font: 0.24074rem "微软雅黑";
            padding-left: 0.32407rem;
            background: url(../img/35.png) no-repeat left center;
            background-size: 0.26852rem auto; }
            #m5 #zhuanTi .box ul li a p b:nth-child(3) {
              background: url(../img/37.png) no-repeat left center;
              background-size: 0.26852rem auto; }
          #m5 #zhuanTi .box ul li a p i {
            padding: 0 0.25rem;
            background: url(../img/36.png) no-repeat center;
            background-size: 0.06481rem auto; }
#m5 #latest {
  background: #fff;
  padding-top: 0.25926rem; }
  #m5 #latest h3 {
    width: 2.24074rem;
    height: 0.50926rem;
    margin: 0 auto 0.49074rem;
    font: 0.32407rem "微软雅黑";
    line-height: 0.50926rem;
    color: #1dd1f6;
    background: url(../img/22.png) no-repeat left top, url(../img/23.png) no-repeat right bottom;
    background-size: 0.27778rem auto;
    text-align: center; }
  #m5 #latest .content {
    background: #f8f8f8; }
    #m5 #latest .content li {
      margin-bottom: 0.27778rem;
      background: #fff;
      padding: 0.27778rem 0.27778rem 0; }
      #m5 #latest .content li a h4 {
        margin-bottom: 0.43519rem;
        display: flex; }
        #m5 #latest .content li a h4 b {
          width: 1.06481rem;
          height: 1.06481rem; }
          #m5 #latest .content li a h4 b img {
            width: 100%; }
        #m5 #latest .content li a h4 i {
          margin-left: 0.13889rem; }
          #m5 #latest .content li a h4 i h5 {
            font: 0.2963rem "微软雅黑";
            margin-bottom: 0.18519rem;
            color: #000000; }
            #m5 #latest .content li a h4 i h5 > img {
              width: 0.22222rem;
              margin-left: 0.14815rem; }
          #m5 #latest .content li a h4 i s {
            font: 0.25rem "微软雅黑"; }
          #m5 #latest .content li a h4 i span {
            font: 0.25rem "微软雅黑";
            margin-left: 0.2963rem; }
      #m5 #latest .content li a h5 {
        font: 0.30556rem "微软雅黑";
        color: #000000;
        margin-bottom: 0.32407rem; }
      #m5 #latest .content li a > img {
        width: 100%; }
      #m5 #latest .content li a p {
        height: 1.38889rem;
        display: flex;
        justify-content: space-around; }
        #m5 #latest .content li a p b {
          padding-left: 0.83333rem;
          font: 0.37037rem "微软雅黑";
          color: #000000;
          align-self: center; }
          #m5 #latest .content li a p b:nth-child(1) {
            background: url(../img/31.png) no-repeat left center;
            background-size: 0.46296rem auto; }
          #m5 #latest .content li a p b:nth-child(2) {
            background: url(../img/32.png) no-repeat left center;
            background-size: 0.46296rem auto; }
          #m5 #latest .content li a p b:nth-child(3) {
            background: url(../img/33.png) no-repeat left center;
            background-size: 0.46296rem auto; }

/*# sourceMappingURL=huaTi_reMen.css.map */
