@charset "UTF-8";
#m2 header {
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  background: #fff;
  height: 1.43519rem;
  display: flex; }
  #m2 header b {
    position: absolute;
    width: 0.55556rem;
    height: 0.05556rem;
    left: 3.7037rem;
    bottom: 0.31481rem;
    background: #000000; }
  #m2 header a {
    font: 0.40741rem "微软雅黑";
    color: #000000;
    line-height: 1.43519rem; }
    #m2 header a:nth-child(1) {
      margin-left: 3.56481rem;
      margin-right: 1.15741rem; }
    #m2 header a:nth-child(3) {
      width: 0.31481rem;
      background: url(../img/20.png) no-repeat center;
      background-size: 0.31481rem auto;
      margin-left: 2.87037rem; }
#m2 #banner {
  padding-top: 1.43519rem;
  height: 4.55556rem; }
  #m2 #banner img {
    display: block;
    width: 100%;
    height: 100%; }
#m2 #sanGe {
  background: #fff; }
  #m2 #sanGe ul {
    height: 1.89815rem;
    display: flex;
    justify-content: space-between; }
    #m2 #sanGe ul li {
      width: 3.31481rem;
      margin-top: 0.36111rem;
      height: 1.14815rem; }
      #m2 #sanGe ul li:nth-child(2) {
        border-left: 1px solid #aaa;
        border-right: 1px solid #aaa; }
      #m2 #sanGe ul li a h4 {
        height: 0.55556rem;
        background: url(../img/04.png) no-repeat center;
        background-size: auto 0.55556rem; }
      #m2 #sanGe ul li a p {
        font-size: 0.30556rem;
        font-family: "微软雅黑";
        text-align: center;
        color: #000;
        margin-top: 0.08333rem; }
      #m2 #sanGe ul li:nth-child(2) h4 {
        background: url(../img/05.png) no-repeat center;
        background-size: auto 0.55556rem; }
      #m2 #sanGe ul li:nth-child(3) h4 {
        background: url(../img/06.png) no-repeat center;
        background-size: auto 0.55556rem; }
#m2 #latest {
  background: #fff;
  padding-top: 0.25926rem; }
  #m2 #latest h3 {
    width: 2.24074rem;
    height: 0.50926rem;
    margin: 0 auto 0.86111rem;
    font: 0.32407rem "微软雅黑";
    line-height: 0.50926rem;
    color: #1dd1f6;
    background: url(../img/22.png) no-repeat left top, url(../img/23.png) no-repeat right bottom;
    background-size: 0.27778rem auto;
    text-align: center; }
  #m2 #latest .content {
    padding: 0 0.27778rem; }
    #m2 #latest .content li {
      margin-bottom: 0.55556rem; }
      #m2 #latest .content li a h4 {
        margin-bottom: 0.43519rem;
        display: flex; }
        #m2 #latest .content li a h4 b {
          width: 1.06481rem;
          height: 1.06481rem; }
          #m2 #latest .content li a h4 b img {
            width: 100%; }
        #m2 #latest .content li a h4 i {
          margin-left: 0.13889rem; }
          #m2 #latest .content li a h4 i h5 {
            font: 0.2963rem "微软雅黑";
            margin-bottom: 0.18519rem;
            color: #000000; }
            #m2 #latest .content li a h4 i h5 > img {
              width: 0.22222rem;
              margin-left: 0.14815rem; }
          #m2 #latest .content li a h4 i s {
            font: 0.25rem "微软雅黑"; }
          #m2 #latest .content li a h4 i span {
            font: 0.25rem "微软雅黑";
            margin-left: 0.2963rem; }
      #m2 #latest .content li a dl {
        display: flex;
        height: 1.66667rem;
        background: #f8f8f8; }
        #m2 #latest .content li a dl dt {
          width: 6.72222rem;
          position: relative; }
          #m2 #latest .content li a dl dt p {
            font: 0.33333rem "微软雅黑";
            line-height: 0.57407rem;
            color: #000000; }
          #m2 #latest .content li a dl dt h6 {
            position: absolute;
            bottom: 0.09259rem;
            font: 0.27778rem "微软雅黑"; }
        #m2 #latest .content li a dl dd {
          width: 1.66667rem;
          margin-left: 1.72222rem;
          padding-top: 0.06481rem; }
          #m2 #latest .content li a dl dd img {
            width: 100%; }

/*# sourceMappingURL=wenZhang.css.map */
